h1{
    color:blue;
}
.flexContainer{
    display:flex;
    justify-content: center;
}
input{
    width: 20vw;
}

.button{
    text-align: center;
}
a {
    border: 1px solid black;
    padding: 10px 15px;
    margin: 20px;

    display: inline-block;
    text-decoration: none;
    color:blue;
    box-shadow: 0 0 2px 1px #BDBDBD;
    background: linear-gradient(180deg, #FCFFE6 50%, #E6E6E6 100%); 
    }
