h1{
    color:blue;
}
.flexContainer{
    display:flex;
    justify-content: center;
}
input{
    width: 20vw;
}

.button{
    text-align: center;
    padding: 20px;
    background: teal;
    border-radius: 5px;
    width: fit-content;
    margin: 20px auto;
    cursor: pointer;
}
a {
    border: 1px solid black;
    padding: 10px 15px;
    margin: 20px;

    display: inline-block;
    text-decoration: none;
    color:blue;
    box-shadow: 0 0 2px 1px #BDBDBD;
    /* background:  #FCFFE6 ;  */
    }
