.menu {
    display: flex;
    justify-content: space-between;
    background: rgb(255, 11, 11);
    color: white;
}

.menu_buttons {
    display: flex;
}

.menu_button {
    background: rgb(238, 11, 11);
    padding: 10px;
    cursor: pointer;
}

.menu_button:hover {
    background: rgb(228, 11, 11);
}

a {
    text-decoration: none;
    color: inherit;
}